<!DOCTYPE html>
<html lang="en">
<!-- https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>Freeshelf</title>
</head>

<body>
  <header>
    <div class="account_menu">
      <p> <a href="#">Login</a> </p>

      <p> <a href="#">Register</a> </p>
    </div>

    <div class="freeshelftitle">
      <h1 class="title">Freeshelf</h1>

  </header>
  <nav class="navigation">
    <div class="books_by_category">
      <h2> Books By Categories </h2>
    </div>
    <ul class="category">
      <li><a href="#">CSS</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">JavaScript</a></li>
      <li><a href="#">Python</a></li>
    </ul>
  </nav>
  <main>
    <h2 class="recent_title">Recently Added </h2>
    <section class="flex-container wrap">
      <div class="box1">
        <a href=" http://greenteapress.com/thinkpython2/html/index.html">Think Python: How to Think
          Like a Computer Scientist</a> <span>by Allen Downey</span>
        <p>
          <i>Think Python</i> is an introduction to Python programming for beginners. It starts with basic concepts of
          programming, and is
          carefully designed to define all terms when they are first used and to develop each new concept in a logical
          progression.
          Larger pieces, like recursion and object-oriented programming are divided into a sequence of smaller steps
          and introduced
          over the course of several chapters.
        </p>
        Category: <a href="#">Python</a>
      </div>
      <div class="box1">
        <a href="https://automatetheboringstuff.com/">Automate the Boring Stuff</a> <span>by Al Sweigart</span>
        <p>
          If you've ever spent hours renaming files or updating hundreds of spreadsheet cells, you know how tedious
          tasks like these can be. But what if you could have your computer do them for you? In <i>Automate the Boring
            Stuff with Python</i>, you'll learn how to use Python to write programs that do in minutes what would take
          you hours to do by hand-no prior programming experience required.
        </p>

        <p>Category: <a href="#">Python</a> </p>
      </div>
      <div class="box1">
        <p> <a href="https://html5forwebdesigners.com/">
            HTML5 for Web Designers</a> <span>by Jeremy Keith and Rachel Andrew</span></p>
        <p>
          HTML5 isn’t as confusing as it once was, but it still isn’t straightforward. It’s an evolutionary, rather
          than revolutionary, change in the ongoing story of markup—and if you’re currently creating websites with
          any
          version of HTML, you’re already using HTML5. Harness the power of this essential evolving spec with help
          from
          Jeremy Keith and Rachel Andrew.
        </p>
      </div>
    </section>

  </main>
</body>

</html>