{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  {% block meta %} {% endblock %}
  <title>Freeshelf</title>
</head>

<body>
  <header>
    <div class="account_menu">
      <p> <a href="#">Login</a> </p>

      <p> <a href="#">Register</a> </p>
    </div>

    <div class="freeshelftitle">
      <h1 class="title">Freeshelf</h1>

  </header>
  <nav class="navigation">
    <div class="books_by_category">
      <h2> Books By Categories </h2>
    </div>
    <ul class="category">
      <li><a href="#">CSS</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">JavaScript</a></li>
      <li><a href="#">Python</a></li>
    </ul>
  </nav>
  <main>
    

  </main>
</body>

</html>